.management{
  background:#fff;
  margin-top:.5rem;
  header{
    background-color: #f5f5f9;
    margin-top:-.32rem;
    padding:0 .25rem .16rem;
    color:#333;
    font-size:18px;
  }
  ul{
    li{
      padding:0 .25rem 0 .75rem;
      font-size:16px;
      color:#6ea2ec;
      line-height: .95rem;
      border-bottom:1px solid #ddd;

      overflow:hidden;
      text-indent: 1.2em;
      &:first-child{
        border-top:1px solid #ddd;
      }
    }
    @for $i from 0 through 10 {
      .item-#{$i} {
        background: url("../../../../images/wode-main-#{$i}-icon.png") no-repeat 0.5rem center;
        background-size:.4rem ;
      }
    }

    .show-info{
      text-align: right;
      display: inline-block;
      float:right;


      &.show-info-a{
        color:#666;
        font-size:16px;
        margin-right:.4rem;
      }
      .show-info-text{
        font-size:16px;
        width:2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .icon{
        display: inline-block;
        width:.15rem;
        height:.3rem;
        margin-left:.25rem;
        background: url("../../../../images/right_jiantou.png") no-repeat center center;
        background-size: .2rem;
      }
    }

  }
}

._xdList{
  header{
    margin-top:-.35rem;
    ul{
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: center;
      -webkit-align-items: center;
      background-color: #fff;
      padding: 0 .65rem 0 .25rem;
      li{
        flex: 1;
        -webkit-flex: 1;
        font-size:13px;
        color:#666;
        line-height: 1rem;
      }
    }

  }
  ._xdList_content{
    @extend header;
    margin:0;
    width:100%;
    height:9rem;
    overflow: auto;
    ul{
      position: relative;
      width:100%;
      border-top:1px solid #dddddd;
      li{
        line-height: .8rem;
      }
      &:last-child{
        border-bottom: 1px solid #dddddd;
      }
      .icon{
        position: absolute;
        right:0.25rem;
        display: inline-block;
        width:.4rem;
        height:.4rem;
        background: url("../../../../images/right_jiantou.png") no-repeat;
        background-size:.2rem;
      }
    }
  }
}

//inventory
.inventory-list{
  margin-top:-.4rem;
  padding-top:.05rem;
  height:8.6rem;
  overflow: auto;
  .inventory-item{
    background:#fff;
    border-bottom: 1px solid #dddddd;
    padding:0 .25rem;
    font-size:14px;
    color:#333;
    height:1rem;
    line-height: 1rem;
    overflow: hidden;
    //&:last-child{
    //  border:0;
    //}
    .inventory-item-text{
      float:left;
    }
    .inventory-item-count{
      float:right;
      padding-top:.2rem;
      overflow: hidden;
      span{
        display: inline-block;
        width:.6rem;
        height:.6rem;
        float:left;
        border:1px solid #ddd;
        border-radius: 2px;
        //margin-top:.1rem;
        line-height: .5rem;
        text-align: center;
        input{
          width:100%;
          text-align: center;
        }
        &:nth-child(1){
          border-radius: 2px 0 0 2px;
          font-weight: bold;
          font-size:20px;
          line-height: .6rem;
        }
        &:nth-child(2){
          width:.8rem;
          border-radius: 0;
          border-width: 1px 0;
        }
        &:nth-child(3){
          border-radius: 0 2px 2px 0;
          font-weight: bold;
          font-size:20px;
          line-height: .64rem;
        }
        &.inventory-btn.active{
          background:#f5f5f9;
        }
      }
    }
  }
}
.inventory-btn-group{
  width:100%;
  margin-top:.4rem;
  text-align: center;
  .inventory-btn{
    display: inline-block;
    width:90%;
    border-radius: 5px;
    background:#71aaf0;
    color:#fff;
    font-size:17px;
    line-height: .94rem;
  }
  &.inventory-btn-group-bottom{
    position: absolute;
    bottom: 0.92rem;
    left:0;
    margin-top:0;
    .inventory-btn{
      width:100%;
      border-radius: 0;
    }
  }
}

//人员管理

.person-manage-menu{
  margin-top:-.45rem;
  padding-top:.05rem;
  overflow: hidden;
  ul{
    li{
      float:left;
      width:50%;
      background:#fafafc;
      text-align: center;
      border-bottom: 1px solid #e5e5e5;
      a{
        color:#666;
        line-height: .84rem;
      }
      &.active{
        background:#b3ccf3;
        a{color:#fff;}
      }
    }
  }
  &.three-menu{
    ul{
      li{
        width:33.33%;
        border-right:1px solid #ddd;
        box-sizing: border-box;
        &:last-child{
          border-right:0;
        }
      }
    }
  }
}

.person-manage-list{
  height:9.2rem;
  overflow: auto;
  .person-manage-item{
    padding:.25rem;
    overflow: hidden;
    background:#fff;
    border-bottom: 1px solid #ddd;
    .person-manage-left{
      float:left;
      color:#333;
      font-size:14px;
      line-height: .5rem;
      span:last-child{
        color:#999;
        display: block;
      }
    }
    .person-manage-right{
      float:right;
      color:#333;
      font-size:14px;
      line-height: 1rem;
      .icon{
        display: inline-block;
        width:.15rem;
        height:.3rem;
        margin-left:.3rem;
        background: url("../../../../images/right_jiantou.png") no-repeat center center;
        background-size: .2rem;
        vertical-align: middle;
      }
    }
  }
}
.person-manage-detail{
  margin-top:-.45rem;
  padding:.25rem;
  overflow: hidden;
  background:#fff;
  font-size:14px;
  color:#333;
  line-height: .6rem;
  span{
    text-align: right;
    padding-right:.2rem;
  }
}
.person-manage-detail-manage{
  header{
    font-size:15px;
    line-height: .84rem;
    padding:0 .25rem;
  }
  ul{
    background:#fff;
    li{
      padding:0 .35rem;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      .title{
        font-size:14px;
        color:#333;
        line-height: .94rem;
        display: inline-block;
        width:2rem;
        float:left;
      }
      .content{
        font-size:14px;
        color:#333;
        line-height: .94rem;
        float:right;
      }
      .icon{
        display: inline-block;
        width:.15rem;
        height:.3rem;
        margin-left:.3rem;
        background: url("../../../../images/right_jiantou.png") no-repeat center center;
        background-size: .2rem;
        vertical-align: middle;
      }
    }
  }
}

//modal
.modal-content{
  .modal-content-header{
    font-size:16px;
    color:#333;
    line-height: .8rem;
    padding:0 .25rem;
    margin-top:-.3rem;
  }

  .modal-content-radio{
    background:#fff;
    height:7.8rem;
    overflow: auto;
    .modal-content-radio-item{
      border-bottom: 1px solid #dddddd;
      padding:0.1rem .25rem;
      label{
        display: block;
        width:100%;
        overflow: hidden;
        span{
          display: inline-block;
          float:left;
          font-size:16px;
          line-height: .83rem;
          color:#666;
        }
        .icon{
          float:right;
          width:.83rem;
          height:.83rem;
          background:url("../../../../images/radio-icon.png") no-repeat;
          background-size:.83rem 1.76rem;
          background-position: 0 0;

        }
        input:checked{
          display: none;
          &+.icon{
            background-position: 0 -.83rem;
          }
        }
      }
    }
  }

}
















