/*@font-face {*/
    /*font-family: "fangzhengzhongdengxian";*/
    /*src: url('../fonts/fangzhengzhongdengxian.ttf');*/
    /*src: url('../fonts/fangzhengzhongdengxian.ttf') format('truetype'); !* chrome, firefox, opera, Safari, Android, iOS 4.2+*!*/
/*}*/
body{font-size:16px}
@media screen and (min-width: 321px) and (max-width: 375px) {body{font-size:18px}}
@media screen and (min-width: 376px) and (max-width: 414px) {body{font-size:18px}}
@media screen and (min-width: 640px) and (max-width: 719px) {body{font-size:18px}}
@media screen and (min-width: 720px) and (max-width: 749px) {body{font-size:18px}}
@media screen and (min-width: 750px) and (max-width: 799px) {body{font-size:18px}}
@media screen and (min-width: 800px) {body{font-size:18px}}

body,div,span,a,p,h1,h2,h3,h4,h5,h6,mark,iframe,ul,ol,li,dl,dt,dd,footer,nav,header,section,article,aside,button,textarea,del,strong,small,::before,::after{
    margin:0;
    padding:0;
    /*fonts-family:"方正中等线";*/
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


ul,ol{
    list-style: none;
}
input{
    border:0;
    outline: none;
    -webkit-appearance: none;
}
a,a:hover{
    text-decoration: none;
}
body,div,span,a,p,h1,h2,h3,h4,h5,h6,mark,iframe,ul,ol,li,dl,dt,dd,footer,nav,header,section,article,aside,button,textarea,del,strong,small{
    font-family:"fangzhengzhongdengxian";
}

/*微信webview背景颜色，*/
body{
    position: absolute;
    width:100%;
    height:100%;
    /*min-height:9.6rem;*/
    /*overflow: auto;*/
    background:#f5f5f9;
}
body::-webkit-scrollbar{display: none}
.container{
    width:100%;
    background:#f5f5f9;
    padding:1.3rem 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999;
}



/*公共样式*/
.f_left{float:left}
.f_right{float:right}
.clearfix::before,.clearfix::after{
    content: '';
    height:0;
    line-height: 0;
    display: block;
    clear:both;
}
